NEXT_PUBLIC_ADS_ENABLED=false
NEXT_PUBLIC_ADS_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
NEXT_PUBLIC_ADS_TOP_SLOT_ID=XXXXXXXXXX
NEXT_PUBLIC_ADS_BOTTOM_SLOT_ID=XXXXXXXXXX
NEXT_PUBLIC_ADS_MODAL_SLOT_ID=XXXXXXXXXX
